
#parentPane {
    -fx-background-color: transparent;
}

#menuTree {
    -fx-background-color: transparent;
    -fx-border-color: transparent;
}

.tree-view .virtual-flow .scroll-bar:vertical .decrement-button{
    -fx-background-color: transparent;
}

.tree-view .virtual-flow .scroll-bar:vertical .decrement-button .decrement-arrow{
    -fx-background-color: transparent;
}

.tree-view .virtual-flow .scroll-bar:vertical .increment-button{
    -fx-background-color: transparent;
}

.tree-view .virtual-flow .scroll-bar:vertical .increment-button .increment-arrow{
    -fx-background-color: transparent;
}

.tree-view .virtual-flow .scroll-bar:vertical .thumb{
    -fx-background-color: transparent;
}

