/**
 * 系统设置页面css
 */

#rootPane {
    -fx-background-color: white;
    -fx-background-radius: 8;
    -fx-border-radius: 8;
}

#vbox {
    /*-fx-background-color: transparent;*/
    -fx-background-color: white;
    -fx-background-radius: 8;
    -fx-border-radius: 8;
}

#menu-item:hover {
    -fx-background-color: #efefef;
    -fx-background-radius: 8;
    -fx-border-radius: 8;
}