#rootPane {
    -fx-background-color: #f4f2f2;
}

#fromLanguage {
    -fx-border-color: transparent;
    -fx-background-color: transparent;
}
/**
左侧显示区域
 */
#fromLanguage .list-cell:selected:empty{
    -fx-background-color: white;
    -fx-border-color: transparent;
}

/**
下拉区域
 */

#fromLanguage .list-view:vertical {
    -fx-border-color: transparent;
    -fx-background-color: white;
}

/**
右侧按钮
 */
#fromLanguage .arrow-button{
    -fx-background-color: white;
}

#fromLanguage .arrow-button .arrow{
    -fx-background-color: #a4a4a4;
}

#translate_icon {
    -fx-shape: 'M949.333333 448h-874.666666c-17.066667 0-32-14.933333-32-32S57.6 384 74.666667 384h789.333333l-179.2-157.866667c-12.8-12.8-14.933333-32-2.133333-44.8 12.8-12.8 32-14.933333 44.8-2.133333l243.2 213.333333c12.8 10.666667 14.933333 32 2.133333 44.8-4.266667 6.4-12.8 10.666667-23.466667 10.666667zM317.866667 853.333333c-8.533333 0-14.933333-2.133333-21.333334-8.533333l-243.2-213.333333c-10.666667-8.533333-12.8-23.466667-8.533333-34.133334 4.266667-12.8 17.066667-21.333333 29.866667-21.333333h874.666666c17.066667 0 32 14.933333 32 32s-14.933333 32-32 32h-789.333333l179.2 157.866667c12.8 12.8 14.933333 32 2.133333 44.8-4.266667 6.4-12.8 10.666667-23.466666 10.666666z';
    -fx-background-color: #a4a4a4;
}

#translateContent {
    -fx-background-color: white;
}

#optionMenuLittleItem {
    -fx-background-color: red;
}

#textContent {
    -fx-border-color: transparent;
    -fx-background-color: transparent;
}

#textContent .text-area .scroll-pane:fitToWidth:fitToHeight .corner {
    -fx-background-color: transparent;
}

#copy {
    -fx-shape: 'M96 224l160-160h351.872C643.296 64 672 92.48 672 128.128V192h-64V159.968A31.776 31.776 0 0 0 576.032 128H352v160H160v448.032c0 17.92 14.304 31.968 31.968 31.968H256v64H160.128A63.968 63.968 0 0 1 96 767.872V224z m192-96L192 224h96V128z m64 288l160-160h352.16C899.424 256 928 284.512 928 319.712V896.32A63.744 63.744 0 0 1 864.16 960h-448.32A63.776 63.776 0 0 1 352 896.288V416z m192-96l-128 128h128v-128z m64 192h-192v352.224a32 32 0 0 0 32.224 31.776h383.552A32 32 0 0 0 864 864.224V351.776A32 32 0 0 0 831.776 320H608v192z';
    -fx-background-color: #a4a4a4;
}

#paste {
    -fx-shape: 'M901.117698 948.224208V814.080577H959.997536v134.143631h-58.879838z m0-328.959095H959.997536v133.887632h-58.879838v-133.887632z m0-198.655454H959.997536v133.887632h-58.879838v-133.887632z m0-207.359429H959.997536v134.143631h-58.879838V213.25023z m-153.599578 752.125931h120.319669V1024h-120.319669v-58.623839z m43.238281-162.303553a93.490943 93.490943 0 0 1-94.23334 92.671745H279.833006v78.079785h-58.879838v-78.079785H158.284541a93.490943 93.490943 0 0 1-94.233341-92.671745V306.689973L355.096799 0.002816H696.57426a93.490943 93.490943 0 0 1 94.233341 92.671745v26.879926H865.277796v58.623839h-74.572594v624.894282zM162.27813 306.177974h203.289041V91.906563z m557.259267-213.503413a22.630338 22.630338 0 0 0-23.039936-22.015939H436.837375v245.247325a61.260632 61.260632 0 0 1-61.439831 60.927833H135.142204v426.238828a22.476738 22.476738 0 0 0 23.039937 22.015939H696.57426a22.451138 22.451138 0 0 0 23.039937-22.015939V92.674561zM450.558937 1024h-120.319669v-58.623839h120.319669V1024z m212.479416 0h-120.319669v-58.623839h120.319669V1024z';
    -fx-background-color: #a4a4a4;
}

#clear {
    -fx-shape: 'M694.857143 146.285714 694.857143 73.142857c0-40.393143-32.749714-73.142857-73.142857-73.142857L402.285714 0c-40.393143 0-73.142857 32.749714-73.142857 73.142857l0 73.142857L36.571429 146.285714l0 73.142857 109.714286 0 0 731.428571c0 40.393143 32.749714 73.142857 73.142857 73.142857l585.142857 0c40.393143 0 73.142857-32.749714 73.142857-73.142857L877.714286 219.428571l109.714286 0L987.428571 146.285714 694.857143 146.285714zM402.285714 73.142857l219.428571 0 0 73.142857L402.285714 146.285714 402.285714 73.142857zM804.571429 950.857143 219.428571 950.857143 219.428571 219.428571l585.142857 0L804.571429 950.857143zM329.142857 329.142857l73.142857 0 0 512-73.142857 0 0-512ZM475.428571 329.142857l73.142857 0 0 512-73.142857 0 0-512ZM621.714286 329.142857l73.142857 0 0 512-73.142857 0 0-512Z';
    -fx-background-color: #a4a4a4;
}
